<div class="container">
    <h1>Our Team</h1>
  <div class="row" id="about">

    <div class="photo col-md-6">
      <img class="pho1" src="../../assets/images/t1.jpg" alt="">
      <img class="pho2" src="../../assets/images/t2.jfif" alt="">
      <img class="pho3" src="../../assets/images/t3.jpg" alt="">

    </div>
    <div class="OurTeam col-md-6">

      <div class="myteam ">
        <img class="team" src="../../assets/images/t8.jfif" alt="">
        <div>
          <h3>mostafa gamal</h3>
          <a href="#">call us</a>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="myteam ">
        <img class="team" src="../../assets/images/t5.jpg" alt="">
        <div>
          <h3>mostafa gamal</h3>
          <a href="#">call us</a>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="myteam ">
        <img class="team" src="../../assets/images/t6.jpg" alt="">
        <div>
          <h3>mostafa gamal</h3>
          <a href="#">call us</a>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="myteam ">
        <img class="team" src="../../assets/images/t7.jpg" alt="">
        <div>
          <h3>mostafa gamal</h3>
          <a href="#">call us</a>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>

</div>
