<div class="container">
  <h1>We Have Monsters Not Normal Dogs</h1>

  <div class="row">
    <div class="one col-md-4">
      <div class="dog">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, debitis. Consectetur deserunt ducimus amet
          corrupti ratione qui, error laudantium reprehenderit consequatur fuga, mollitia earum rem.</p>
      </div>
      <img class="ddog" src="../../assets/images/d6.jpg" alt="">
    </div>
    <div class="one col-md-4">
        <div class="dog">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, debitis. Consectetur deserunt ducimus amet
            corrupti ratione qui, error laudantium reprehenderit consequatur fuga, mollitia earum rem.</p>
        </div>
        <img class="ddog" src="../../assets/images/d2.jpg" alt="">
      </div>
      <div class="one col-md-4">
        <div class="dog">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, debitis. Consectetur deserunt ducimus amet
            corrupti ratione qui, error laudantium reprehenderit consequatur fuga, mollitia earum rem.</p>
        </div>
        <img class="ddog" src="../../assets/images/d3.jpg" alt="">
      </div>
      <div class="one col-md-4">
        <div class="dog">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, debitis. Consectetur deserunt ducimus amet
            corrupti ratione qui, error laudantium reprehenderit consequatur fuga, mollitia earum rem.</p>
        </div>
        <img class="ddog" src="../../assets/images/d1.jfif" alt="">
      </div>
      <div class="one col-md-4">
        <div class="dog">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, debitis. Consectetur deserunt ducimus amet
            corrupti ratione qui, error laudantium reprehenderit consequatur fuga, mollitia earum rem.</p>
        </div>
        <img class="ddog" src="../../assets/images/d4.jfif" alt="">
      </div>
      <div class="one col-md-4">
        <div class="dog">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, debitis. Consectetur deserunt ducimus amet
            corrupti ratione qui, error laudantium reprehenderit consequatur fuga, mollitia earum rem.</p>
        </div>
        <img class="ddog" src="../../assets/images/d5.png" alt="">
      </div>
  </div>
</div>
